<h1>Welcome to Miami</h1>
<img class="img-fluid" src="/img/2.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste iure suscipit similique necessitatibus, minima dolorum odit recusandae. Adipisci dignissimos unde repellendus alias culpa eaque, molestiae enim voluptatibus iusto quam?</p>